In [1]:
import pandas as pd
from sqlalchemy.types import VARCHAR, INTEGER, FLOAT
from sqlalchemy import text
from sqlalchemy import create_engine
# import d6tstack.utils
import bcpandas
from bcpandas import SqlCreds, to_sql
import pyodbc
from fast_to_sql import fast_to_sql

In [2]:
# Driver='SQL Server Native Client 11.0'

# connect to the database
engine = create_engine('mssql+pyodbc://WagnerProdAGL1/Targit_DM?driver=ODBC+Driver+17+for+SQL+Server', echo=False, fast_executemany=True)

In [3]:
# SERVER = 'WagnerProdAGL1'
# DATABASE = 'Targit_DM'


# connectionString  = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={SERVER};DATABASE={DATABASE};Trusted_Connection=yes'
# conxn = pyodbc.connect(connectionString)
# print('connection made')

connection made

In [4]:
creds = SqlCreds(
  'WagnerProdAGL1',
  'Targit_DM',
  'Trusted_Connection=yes'
  )

In [5]:
SERVER = 'WagnerProdAGL1'
DATABASE = 'Targit_DM'


connectionString  = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={SERVER};DATABASE={DATABASE};Trusted_Connection=yes'
conxn = pyodbc.connect(connectionString)
print('connection made')

connection made

In [6]:
# Read OTIL excel
df_OTIL_Stage = pd.read_excel('..\Files\CCPA Line Detail Wagner June 2024.xlsx', sheet_name='CCPA Line Detail Wagner June 20')

In [7]:
df_OTIL_Stage

,Main Dealer,Frcst Enty Dlr Cd,Dlr Cd Emer,Main Dlr Cd,Dealer Cd,Sales Channel,Part Number,Sourced Part,TEPS Ind,CES Ind,...,End Cust Ord No,Order Entry User Id,Stocking Ind,End Cust Ln No,Src Fac,Str Nm,Key Cat Account Num,Frcst Ind,Days To Fill_SP,Line Cost Center
0,E250,E250,E350,E250,E350 - WAGNER EQ,WO,8D2311,8D2311,N,N,...,1AS391262,XUPE25SA05,Y,4,CAT,ALBUQUERQUE,NaN,Y,-3,CS
1,E250,E250,E352,E250,E352 - WAGNER EQ,WO,3243210,3243210,N,N,...,12S365008,XUPE25HTD,N,41,10,EL PASO,CDZU,Y,-8,MS
2,E250,E250,E250,E250,E250 - WAGNER EQ,OTC,5P8245,5P8245,N,N,...,AGC691277,XUPE25CJM,Y,2,0,AURORA,NaN,Y,-2,DN
3,E250,E250,E250,E250,E250 - WAGNER EQ,OTC,5923072,5923072,N,N,...,AGC690176,XUPE25GQL,Y,11,"00, 13",AURORA,NaN,Y,-5,DN
4,E250,E250,E350,E250,E350 - WAGNER EQ,PS,3261644,3261644,N,N,...,1AC761985,yvette@msc,Y,4,10,ALBUQUERQUE,NaN,Y,-7,PD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136631,E250,E250,E251,E250,E251 - WAGNER EQ,WO,6V8398,6V8398,N,N,...,01S212374,XUPE25EAC,Y,6,1,DURANGO,NaN,Y,-5,PD
136632,E250,E250,E254,E250,E254 - WAGNER EQ,OTC,1303435,1303435,N,N,...,04C304702,XUPE25BQB,N,2,CAT,HAYDEN,NaN,Y,-3,4P
136633,E250,E250,E260,E250,E260 - WAGNER EQ,PS,3318108,3318108,N,N,...,9AC004039,philhancoc,Y,2,9A,WINDSOR PARTS,NaN,Y,-8,PD
136634,E250,E250,E260,E250,E260 - WAGNER EQ,WO,3608960,3608960,N,N,...,9AS003487,e250jas3,Y,5,9A,WINDSOR PARTS,NaN,Y,-1,CA
136635,E250,E250,E250,E250,E250 - WAGNER EQ,WO,1U9534,1U9534,N,N,...,AGS187193,XUPE25BZW,Y,3,0,AURORA,NaN,Y,-1,FS

### Logic to getting the calculations made

In [8]:
# replace sapces with underscores in the columns
df_OTIL_Stage.columns = df_OTIL_Stage.columns.str.replace(' ','_')

# Pad Store_Number with leading zeros if single digit
df_OTIL_Stage['Src_Fac'] = df_OTIL_Stage['Src_Fac'].astype(str).str.zfill(2)
df_OTIL_Stage['Document_Store'] = df_OTIL_Stage['Document_Store'].astype(str).str.zfill(2)
df_OTIL_Stage['Inventory_Store'] = df_OTIL_Stage['Inventory_Store'].astype(str).str.zfill(2)


df_result = df_OTIL_Stage

# Convert 'Dlr_Cd_Emer' to string explicitly
df_result['Dlr_Cd_Emer'] = df_result['Dlr_Cd_Emer'].astype(str)

In [9]:
df_result.head(5)

,Main_Dealer,Frcst_Enty_Dlr_Cd,Dlr_Cd_Emer,Main_Dlr_Cd,Dealer_Cd,Sales_Channel,Part_Number,Sourced_Part,TEPS_Ind,CES_Ind,...,End_Cust_Ord_No,Order__Entry_User_Id,Stocking_Ind,End_Cust_Ln_No,Src_Fac,Str_Nm,Key_Cat_Account_Num,Frcst_Ind,Days_To_Fill_SP,Line_Cost_Center
0,E250,E250,E350,E250,E350 - WAGNER EQ,WO,8D2311,8D2311,N,N,...,1AS391262,XUPE25SA05,Y,4,CAT,ALBUQUERQUE,NaN,Y,-3,CS
1,E250,E250,E352,E250,E352 - WAGNER EQ,WO,3243210,3243210,N,N,...,12S365008,XUPE25HTD,N,41,10,EL PASO,CDZU,Y,-8,MS
2,E250,E250,E250,E250,E250 - WAGNER EQ,OTC,5P8245,5P8245,N,N,...,AGC691277,XUPE25CJM,Y,2,00,AURORA,NaN,Y,-2,DN
3,E250,E250,E250,E250,E250 - WAGNER EQ,OTC,5923072,5923072,N,N,...,AGC690176,XUPE25GQL,Y,11,"00, 13",AURORA,NaN,Y,-5,DN
4,E250,E250,E350,E250,E350 - WAGNER EQ,PS,3261644,3261644,N,N,...,1AC761985,yvette@msc,Y,4,10,ALBUQUERQUE,NaN,Y,-7,PD

In [ ]:
# d6tstack.utils.pd_to_mssql(df_result, 'mssql+pymssql://FLINTSTONES\cmeek:pswd@WagnerProdAGL1/Targit_DM', 'OTIL', if_exists='replace') # experimental

In [ ]:
# chuck_size = 20000
# for i in range(0,len(df_result), chuck_size):
#     chunk = df_result.iloc[i:i+chuck_size]
#     chunk.to_sql('OTIL', con=engine, if_exists='append', index=False)

In [10]:
# fast_to_sql(df_result, 'OTIL', conxn, if_exists='replace') 

# conxn.commit()
# conxn.close()

OverflowError: int too big to convert

In [ ]:
### REALLY SLOW ON WRITES
# Convert the DataFrame to a table in the dbo schema without explicit data types
df_result.to_sql('OTIL', con=engine, index=False, if_exists='replace', schema='dbo', method = 'multi')

In [10]:
bcpandas.to_sql(df_result, 'OTIL', creds, index=False, if_exists='replace')

c:\Users\Cmeek\AppData\Local\Programs\Python\Python39\lib\site-packages\bcpandas\constants.py:68: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  if not df.applymap(lambda x: delim in x if isinstance(x, str) else False).any().any():
c:\Users\Cmeek\AppData\Local\Programs\Python\Python39\lib\site-packages\bcpandas\constants.py:68: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  if not df.applymap(lambda x: delim in x if isinstance(x, str) else False).any().any():
c:\Users\Cmeek\AppData\Local\Programs\Python\Python39\lib\site-packages\bcpandas\constants.py:75: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  if not df.applymap(lambda x: qc in x if isinstance(x, str) else False).any().any():

Starting copy...
1000 rows sent to SQL Server. Total sent: 1000
1000 rows sent to SQL Server. Total sent: 2000
1000 rows sent to SQL Server. Total sent: 3000
1000 rows sent to SQL Server. Total sent: 4000
1000 rows sent to SQL Server. Total sent: 5000
1000 rows sent to SQL Server. Total sent: 6000
1000 rows sent to SQL Server. Total sent: 7000
1000 rows sent to SQL Server. Total sent: 8000
1000 rows sent to SQL Server. Total sent: 9000
1000 rows sent to SQL Server. Total sent: 10000
1000 rows sent to SQL Server. Total sent: 11000
1000 rows sent to SQL Server. Total sent: 12000
1000 rows sent to SQL Server. Total sent: 13000
1000 rows sent to SQL Server. Total sent: 14000
1000 rows sent to SQL Server. Total sent: 15000
1000 rows sent to SQL Server. Total sent: 16000
1000 rows sent to SQL Server. Total sent: 17000
1000 rows sent to SQL Server. Total sent: 18000
1000 rows sent to SQL Server. Total sent: 19000
1000 rows sent to SQL Server. Total sent: 20000
1000 rows sent to SQL Server. Total sent: 21000
1000 rows sent to SQL Server. Total sent: 22000
1000 rows sent to SQL Server. Total sent: 23000
1000 rows sent to SQL Server. Total sent: 24000
1000 rows sent to SQL Server. Total sent: 25000
1000 rows sent to SQL Server. Total sent: 26000
1000 rows sent to SQL Server. Total sent: 27000
1000 rows sent to SQL Server. Total sent: 28000
1000 rows sent to SQL Server. Total sent: 29000
1000 rows sent to SQL Server. Total sent: 30000
1000 rows sent to SQL Server. Total sent: 31000
1000 rows sent to SQL Server. Total sent: 32000
1000 rows sent to SQL Server. Total sent: 33000
1000 rows sent to SQL Server. Total sent: 34000
1000 rows sent to SQL Server. Total sent: 35000
1000 rows sent to SQL Server. Total sent: 36000
1000 rows sent to SQL Server. Total sent: 37000
1000 rows sent to SQL Server. Total sent: 38000
1000 rows sent to SQL Server. Total sent: 39000
1000 rows sent to SQL Server. Total sent: 40000
1000 rows sent to SQL Server. Total sent: 41000
1000 rows sent to SQL Server. Total sent: 42000
1000 rows sent to SQL Server. Total sent: 43000
1000 rows sent to SQL Server. Total sent: 44000
1000 rows sent to SQL Server. Total sent: 45000
1000 rows sent to SQL Server. Total sent: 46000
1000 rows sent to SQL Server. Total sent: 47000
1000 rows sent to SQL Server. Total sent: 48000
1000 rows sent to SQL Server. Total sent: 49000
1000 rows sent to SQL Server. Total sent: 50000
1000 rows sent to SQL Server. Total sent: 51000
1000 rows sent to SQL Server. Total sent: 52000
1000 rows sent to SQL Server. Total sent: 53000
1000 rows sent to SQL Server. Total sent: 54000
1000 rows sent to SQL Server. Total sent: 55000
1000 rows sent to SQL Server. Total sent: 56000
1000 rows sent to SQL Server. Total sent: 57000
1000 rows sent to SQL Server. Total sent: 58000
1000 rows sent to SQL Server. Total sent: 59000
1000 rows sent to SQL Server. Total sent: 60000
1000 rows sent to SQL Server. Total sent: 61000
1000 rows sent to SQL Server. Total sent: 62000
1000 rows sent to SQL Server. Total sent: 63000
1000 rows sent to SQL Server. Total sent: 64000
1000 rows sent to SQL Server. Total sent: 65000
1000 rows sent to SQL Server. Total sent: 66000
1000 rows sent to SQL Server. Total sent: 67000
1000 rows sent to SQL Server. Total sent: 68000
1000 rows sent to SQL Server. Total sent: 69000
1000 rows sent to SQL Server. Total sent: 70000
1000 rows sent to SQL Server. Total sent: 71000
1000 rows sent to SQL Server. Total sent: 72000
1000 rows sent to SQL Server. Total sent: 73000
1000 rows sent to SQL Server. Total sent: 74000
1000 rows sent to SQL Server. Total sent: 75000
1000 rows sent to SQL Server. Total sent: 76000
1000 rows sent to SQL Server. Total sent: 77000
1000 rows sent to SQL Server. Total sent: 78000
1000 rows sent to SQL Server. Total sent: 79000
1000 rows sent to SQL Server. Total sent: 80000
1000 rows sent to SQL Server. Total sent: 81000
1000 rows sent to SQL Server. Total sent: 82000
1000 rows sent to SQL Server. Total sent: 83000
1000 rows sent to SQL Server. Total sent: 84000
1000 rows sent to SQL Server. Total sent: 85000
1000 rows sent to SQL Server. Total sent: 86000
1000 rows sent to SQL Server. Total sent: 87000
1000 rows sent to SQL Server. Total sent: 88000
1000 rows sent to SQL Server. Total sent: 89000
1000 rows sent to SQL Server. Total sent: 90000
1000 rows sent to SQL Server. Total sent: 91000
1000 rows sent to SQL Server. Total sent: 92000
1000 rows sent to SQL Server. Total sent: 93000
1000 rows sent to SQL Server. Total sent: 94000
1000 rows sent to SQL Server. Total sent: 95000
1000 rows sent to SQL Server. Total sent: 96000
1000 rows sent to SQL Server. Total sent: 97000
1000 rows sent to SQL Server. Total sent: 98000
1000 rows sent to SQL Server. Total sent: 99000
1000 rows sent to SQL Server. Total sent: 100000
1000 rows sent to SQL Server. Total sent: 101000
1000 rows sent to SQL Server. Total sent: 102000
1000 rows sent to SQL Server. Total sent: 103000
1000 rows sent to SQL Server. Total sent: 104000
1000 rows sent to SQL Server. Total sent: 105000
1000 rows sent to SQL Server. Total sent: 106000
1000 rows sent to SQL Server. Total sent: 107000
1000 rows sent to SQL Server. Total sent: 108000
1000 rows sent to SQL Server. Total sent: 109000
1000 rows sent to SQL Server. Total sent: 110000
1000 rows sent to SQL Server. Total sent: 111000
1000 rows sent to SQL Server. Total sent: 112000
1000 rows sent to SQL Server. Total sent: 113000
1000 rows sent to SQL Server. Total sent: 114000
1000 rows sent to SQL Server. Total sent: 115000
1000 rows sent to SQL Server. Total sent: 116000
1000 rows sent to SQL Server. Total sent: 117000
1000 rows sent to SQL Server. Total sent: 118000
1000 rows sent to SQL Server. Total sent: 119000
1000 rows sent to SQL Server. Total sent: 120000
1000 rows sent to SQL Server. Total sent: 121000
1000 rows sent to SQL Server. Total sent: 122000
1000 rows sent to SQL Server. Total sent: 123000
1000 rows sent to SQL Server. Total sent: 124000
1000 rows sent to SQL Server. Total sent: 125000
1000 rows sent to SQL Server. Total sent: 126000
1000 rows sent to SQL Server. Total sent: 127000
1000 rows sent to SQL Server. Total sent: 128000
1000 rows sent to SQL Server. Total sent: 129000
1000 rows sent to SQL Server. Total sent: 130000
1000 rows sent to SQL Server. Total sent: 131000
1000 rows sent to SQL Server. Total sent: 132000
1000 rows sent to SQL Server. Total sent: 133000
1000 rows sent to SQL Server. Total sent: 134000
1000 rows sent to SQL Server. Total sent: 135000
1000 rows sent to SQL Server. Total sent: 136000

136636 rows copied.
Network packet size (bytes): 4096
Clock Time (ms.) Total     : 8922   Average : (15314.50 rows per sec.)

In [16]:
# # Define the SQL query to truncate the staging table
# sql_truncate_staging = "TRUNCATE TABLE [Targit_DM].[dbo].[OTIL_Stage]"

In [17]:
# # Execute the SQL queries
# with engine.connect() as connection:
#     # Create the final table
#     connection.execute(text(sql_create_table_query))
    
#     # Insert into final table
#     connection.execute(text(sql_insert_query))
    
#     # Truncate staging table
#     connection.execute(text(sql_truncate_staging))

#     # Commit the transaction
#     connection.commit()

In [ ]:
# Write df_OTIL to SQL Server (replace 'final_table' with your actual table name)
# df_OTIL.to_sql('Parts_OTIL', con=engine, index=False, if_exists='replace')


# Write df_OTIL to Excel
df_OTIL.to_excel('OTIL_Testing.xlsx', index=False)